.copy-machines-operational {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.copy-machines-governance {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.copy-machine {
    border: 1px solid rgb(101, 101, 101);
    background: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 14px;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    transition: background-color 0.2s;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 80px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}

.green-box {
    background: rgb(5, 31, 5);
}

.red-box {
    background: rgb(31, 5, 5);
}

.start-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-all button {
    font-size: 18px;
    width: 110px;
    height: 40px;
}

.mode-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.mode-selection button {
    width: 200px;
    background: rgb(74, 74, 74);
    opacity: 0.5;
}

.active-mode {
    background: rgb(121, 226, 255) !important;
    opacity: 1 !important;
}

.sprint-number-control {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 20px;
}

.sprint-number-control button {
    background: #007acc;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
    width: 60px;
}
.sprint-number-control button:hover {
    background: #005f99;
}
.sprint-number-control button:active {
    background: #004a79;
}

.sprint-number-control span {
    min-width: 40px;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    text-shadow: 1.5px 0 rgba(98, 0, 255, 0.25), -1.5px 0 rgba(255, 0, 0, 0.25);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: var(--text-color);
    cursor: default;
    letter-spacing: 0.3px;
}

.header-title {
    margin: 0 8px;
}

.header-ICARUS {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.5s 0.3s;
    cursor: default;
}
.header-ICARUS:hover {
    transition: color 0.15s;
    color: rgb(131, 135, 255);
}
